/node
node/
/Assets
Assets/
style.css/
/style.css
Test code.html/
/Test code.html
Svgs/
/Svgs
Refs/
/Refs
DRM.zip/
/DRM.zip
Guide.txt/
/Guide.txt
/SomSpect_Workspace.code-workspace
SomSpect_Workspace.code-workspace/