:root {
    --white:    #ffffff;
    --header:   #cee0dc;
    --topper:   #9badb7;
    --bgcolor:  #70818f;
    --bottom:   #dfe08e;
    --imgholder:#c0ba9c;
    --ticket:   #5a81c2;
    --extrablue:#34468e;
    --drop:     #1a1453;
    --text:     #000000;
  }


  @font-face {
    font-family: myFirstFont;
    src: url(InknutAntiqua-Black.ttf);
  }
  
  div {
    font-family: myFirstFont;
  }



.Grid {
  width: 100%;
  /* border-collapse: collapse; */
}

link:target {
  color: var(--ticket); /* change color on hover */
}
nav {
  display: flex;
  background-color: var(--topper);
  height: 48px;
}

nav div {
  color: #000;
  font-family: Inknut Antiqua;
  font-size: 24px;
  text-align: center;
  display: inline;
  flex: 1;
}

.AddButton {
  position: fixed;
  bottom: 20px;
  right: 50%;
}


body {
  background: var(--bgcolor);
}
