:root {
  --white:    #ffffff;
  --header:   #cee0dc;
  --topper:   #9badb7;
  --bgcolor:  #70818f;
  --bottom:   #dfe08e;
  --imgholder:#c0ba9c;
  --ticket:   #5a81c2;
  --extrablue:#34468e;
  --drop:     #1a1453;
  --text:     #000000;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--header);
}

body::-webkit-scrollbar-thumb:hover {
  background:#859197;
}  


body {
  background: var(--bgcolor);
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 32px;
}  

nav {
  width: 100%;
  display: flex;
  background-color: var(--header);
  height: 48px;
}

nav div {
  color: #000;
  font-family: Inknut Antiqua;
  font-size: 19px;
  text-align: center;
  display: inline;
  flex: 1;
}


.Grid {
  width: 100%;
}  

.link:active {
  color: var(--ticket);
  font-size: 90%;
}  

.link {
  text-decoration: none;
}





.mainLink:active {
  color: var(--ticket);
  text-decoration: underline;
  font-size: 96%;
}  

.mainLink {
  text-decoration: none;
  font-weight: bolder;
}  

.clickedLink {
  color: #5a81c2;
  text-decoration: none;
  font-weight: bold;
}  



.loginlink:active {
  color: var(--ticket);
  text-decoration: none;
  font-size: 96%;
}  

.loginlink {
  text-decoration: none;
  font-weight: bolder;
}  


.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginlink {
  width: 128px;
  height: 64px;
  position: fixed;
  bottom: 50%;
  text-decoration: none;
  font-weight: bolder;
}




.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#showBoxes {
  width: 96px;
  height: 48px;
  position: fixed;
  bottom: 20px;
}
 .addButton:hover {
  background-color: var(--topper);
 }
 .addButton:active {
  background-color: var(--imgholder);
 }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px;
  border: #cee0dc;
  border-width: 4px;
  padding-top: 16px;
}

.box {
  width: 100%; /* Width of each box */
  height: 400px; /* Height of each box */
  background-color:#9badb7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-cursor {
  cursor: url('Cursor.png'), auto;
  /* The 'auto' fallback ensures a default cursor if the custom one fails to load */
}